<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_login_and_register">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_mobile_phone_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".TestMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>