<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_login_and_register">

    <application>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SocialRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SocialInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SocialInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChooseRegisterRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FamilyRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FamilyInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FamilyInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SetupNewPasswordActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
