<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_login_and_register">

    <application>
        <activity
            android:name="com.gcml.module_login_and_register.ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.ChooseRegisterRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SetupNewPasswordActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
