<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzq.lib_resource">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application>
        <!--name:实现类的全路径；value:GlobalConfig固定值-->
        <meta-data
            android:name="com.gzq.lib_resource.GlobalConfiguration"
            android:value="GlobalConfig" />
        <meta-data
            android:name="com.gzq.lib_resource.app.AppStore"
            android:value="AppLifecycle" />

        <!--底部导航按钮未选中的颜色-->
        <meta-data
            android:name="tab_bottom_unselected_color"
            android:value="@color/tab_unselect" />
        <!--底部导航按钮选中的颜色-->
        <meta-data
            android:name="tab_bottom_selected_color"
            android:value="@color/colorPrimary" />
        <!--设计图宽度 单位：px-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />
        <!--设计图高度 单位：px-->
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />

        <!--高德地图key配置-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4f52f9c8dec6f91955add3441489f137" />
        <!--高德地图服务-->
        <service android:name="com.amap.api.location.APSService"/>
    </application>
</manifest>
