<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_guardianship">

    <application>
        <activity
            android:name=".SearchFamilyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QrCodeScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddResidentInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddRelationshipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentSOSLocationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResidentLocationDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HealthManagerReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WarningInformationRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustodyCircleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCustodyActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
