<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_mine">

    <application>
        <activity
            android:name=".SetupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
