<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcml.module_guardianship">

    <application
        android:allowBackup="true"
        android:icon="@drawable/resource_desktop_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TestMainActivity" />
        <activity android:name="com.gcml.module_login_and_register.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SocialInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.ChooseRegisterRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyRegisterMessageCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyInputPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.FamilyInputNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gcml.module_login_and_register.ui.SetupNewPasswordActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>